VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
VITE_ALLOWED_DOMAIN=experimentality.co,experimentality.es,experimentality.mx
VITE_APPS_SCRIPT_SONDEO=https://script.google.com/macros/s/...
VITE_APPS_SCRIPT_PORTAL=https://script.google.com/macros/s/...
